parameters:
    level: 5
    paths:
        - data
        - classes
        - code
        - crons
        - templates
        - pages
        - public
        - config.php
    ignoreErrors:
        - identifier: variable.undefined
        - identifier: constant.notFound
        - identifier: greater.alwaysTrue
        - identifier: function.notFound
