body {
  overflow:auto;
  width: 1400px;
}

table.main {
  top: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  /*position:fixed;*/
}

table.main td {
  font-size: 1em;
  /*width: 12em;  ;*/
}

table.main td+td {
  width: auto;
}

table th {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
}

.left-nav {
  vertical-align: top;
  width: 16em;
}

.left-spacing {
  margin-top: 1em;
  margin-left: 1em;
}
